---
import Footer from "../components/footer/Footer.astro";
import NavBar from "../components/navbar/NavBar.astro";
import CTASection from "../components/sections/CTASection.astro";
import ExperienceSection from "../components/sections/ExperienceSection.astro";
import GallerySection from "../components/sections/GallerySection.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import ServicesSection from "../components/sections/ServicesSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="hero-gradient-bg w-full min-h-dvh">
        <div class="max-w-7xl mx-auto">
            <NavBar />
            <HeroSection />
        </div>
    </div>
    <ServicesSection />
    <ExperienceSection />
    <GallerySection />
    <CTASection />
    <Footer />
</Layout>
